<p id="notice"><%= notice %></p>

<h1>Listing Shuvos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>No followers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shuvos.each do |shuvo| %>
      <tr>
        <td><%= shuvo.title %></td>
        <td><%= shuvo.description %></td>
        <td><%= shuvo.no_followers %></td>
        <td><%= link_to 'Show', shuvo %></td>
        <td><%= link_to 'Edit', edit_shuvo_path(shuvo) %></td>
        <td><%= link_to 'Destroy', shuvo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shuvo', new_shuvo_path %>
